.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-content
      .chat-main__group-info__left-content__group-name
        =@group.name
      .chat-main__group-info__left-content__member-name
        - @group.users.each do |user|
          = user.name
    .chat-main__group-info__right-content
      =link_to edit_group_path(@group) do
        EDIT
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    = form_for [@group, @message],html:{class:"chat-main__message-form__message-box"} do |f|
      .chat-main__message-form__message-box
        = f.text_field :content, class: 'chat-main__message-form__message-box__text', placeholder: 'type a message'
        = f.label :image, class: 'chat-main__message-form__message-box__icon' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'chat-main__message-form__message-box__icon__file'
      =f.submit 'Send', class: 'chat-main__message-form__message-box__message-send'